venv
env
.env
__pycache__

web/uploads/*
__pycache__*

!.gitkeep

*.zip
*.csv
!docs/*.csv

app/files/csv/aquivo/*
!app/files/csv/aquivo/.gitkeep

app/files/descompactados/*
!app/files/descompactados/.gitkeep



app/logs/*
!app/logs/.gitkeep

old
